{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Data Science and Sharing Team | CMN{% endblock %}
{% block content %}
	<article class="body team-layout">
		<h2 class=team-title>Data Science and Sharing Team</h2>
		<div class=team-sidebar>
			<h3 class=element-invisible>Who we are</h3>
			<ul class=team>
				<li>
					<div class=photo><img alt="" width=150 height=150 src="{% static "img/people/adam-thomas.jpg"%}"><p class=name>Adam Thomas</p></div>
					<p class=element-invisible>Profile links</p>
					<ul>
						<li><a href=https://fim.nimh.nih.gov/profiles/adam-thomas>FIM Profile</a></li>
						<li><a href=https://scholar.google.com/citations?user=z89s3-8AAAAJ&hl=en>Google Scholar citations</a></li>
						<li><a href=https://github.com/agt24>GitHub profile</a></li>
					</ul></li>
				<li>
					<div class=photo><img alt="" width=155 height=150 src="{% static "img/people/dylan-nielson.jpg"%}"><p class=name>Dylan Nielson</p></div>
					<p class=element-invisible>Profile links</p>
					<ul>
						<li><a href=https://scholar.google.com/citations?user=J_e8ChMAAAAJ&hl=en>Google Scholar citations</a></li>
						<li><a href=https://github.com/Shotgunosine>GitHub profile</a></li>
					</ul></li>
				<li>
					<div class=photo><img alt="" width=127 height=150 src="{% static "img/people/john-lee.jpg"%}"><p class=name>John Lee</p></div>
					<p class=element-invisible>Profile links</p>
					<ul>
						<li><a href=https://github.com/leej3>GitHub profile</a></li>
					</ul></li>
				</li>
			</ul>
		</div>
		<div class=team-main>
			<h3 class=element-invisible>What we do</h3>
			<p>The Data Science and Sharing Team supports investigators within the NIMH intramural program in creating, distributing, and leveraging large, open datasets to accelerate discovery. We provide tools and training to help the IRP embrace open science and stay on the cutting edge of novel datasets, tools, and platforms.</p>
			<h3>Courses</h3>
			<p>View our <a href=/workshops>Upcoming courses</a>.</p>
			<h4>Past Courses and Talks</h4>
			<ul class=indented-courses>
				<li><div class=course-title><a href=https://videocast.nih.gov/Summary.asp?Live=26200&bhcp=1>How not to fool yourself with p-values and other statistics</a></div>
				    <p><a href=https://my.gallaudet.edu/regina-nuzzo>Regina Nuzzo</a></p>
					<p>In 2016 the American Statistical Association published its first position paper on the use of p-values, and recently this year a group of statisticians and other researchers published a paper recommending a change to the traditional definition of statistical significance. This talk discussed some of the p-values problems and solutions raised in these and other papers, illustrating the ideas through a series of examples of published studies. The need for more attention to the communication and "human factors" of statistics and data science was also discussed.</p>
					<p class=more-info><a href=https://videocast.nih.gov/Summary.asp?Live=26200&bhcp=1>Video of Regina's Talk</a>.</p></li>
				<li><div class=course-title>Citizen Science and Crowdsourcing in Neuroscience: Embracing web technology for more open and collaborative science</div>
				    <p><a href="https://github.com/akeshavan">Anisha Keshavan</a></p>
					<p>Despite rapid advances in automation and machine learning there remain many tasks in biomedical science that require intensive manual work from domain experts. New web technologies have made it possible to distribute these tasks across large numbers of volunteers throughout the world. Early successes with protein folding have spurred additional projects in neuron labelling and tracing. More recently the brain imaging community has begun to explore crowdsourcing for anatomical segmentation and labelling. Dr. Kesavan discussed her recent work building these tools as well as a new collaborative project with the NIMH Data Science and Sharing Team. Dr. Keshavan's tools include: <a href="http://www.mindboggle.info/">MindBoggle</a>, <a href="https://github.com/akeshavan/mindcontrol">MindControl</a>, and <a href="https://github.com/akeshavan/mindgames">Medulina</a>.</p>
				<li><div class=course-title><a href=https://nih-fmrif.github.io/NIMH_repro_2017_08/>Open and Reproducible Neuroscience, August 2017</a></div>
					<p>2-Day workshop covering Python, Github, Nipype, and DataLad.</p>
					<p class=more-info><a href=https://github.com/nih-fmrif/NIMH_repro_2017_08>Github repository for the course</a>.</p></li>
                 <li><div class=course-title><a href=https://nihpiday.nih.gov/workshop.html>Workshop on Reproducible Research</a></div>
					<p>Basic introduction to Python and Github, two of the most popular tools for building, documenting, and sharing analysis pipelines.</p>
					<p class=more-info><a href=https://github.com/leej3/piday_course_materials>Course materials for this workshop</a>.</p></li>
				<li><div class=course-title><a href=https://nih-fmrif.github.io/NIMH_repro_2017_03/>Open and Reproducible Neuroscience, March 2017</a></div>
					<p>4-Day workshop covering Python, Github, data structuring, shared repositories, pre-print servers.</p>
					<p class=more-info><a href=https://github.com/nih-fmrif/NIMH_repro_2017_03>Github repository for the course</a>.</p></li>
				<li><div class=course-title><a href=https://nihlibrary.nih.gov/node/370156/register>Intermediate Data Wrangling in R</a></div>
					<p>Introduction to &ldquo;tidyverse&rdquo; in R using RStudio.</p></li>
			</ul>
		</div>
	</article>
{% endblock content %}
