{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Data Science and Sharing Team | CMN{% endblock %}
{% block content %}
	<article class="body team-layout">
		<h2 class=team-title>Data Science and Sharing Team</h2>
		<div class=team-main>
			<h3 class=element-invisible>What we do</h3>
			<p>The Data Science and Sharing Team supports investigators within the NIMH intramural program in creating, distributing, and leveraging large, open datasets to accelerate discovery. We provide tools and training to help the IRP embrace open science and stay on the cutting edge of novel datasets, tools, and platforms. You can find a summary of our activities over the last year in our <a href={% static "articles/DSST_2017_Annual_Report.pdf" %}>annual report</a>.</p>
			<h4>View our <a href=/workshops>upcoming courses and featured talks</a>.</h4>
		</div>
		<div class=team-sidebar>
			<h3 class=element-invisible>Who we are</h3>
			<ul class=team>
				<li>
					<div class=photo><img alt="" width=150 height=150 src="{% static "img/people/adam-thomas.jpg"%}"><p class=name>Adam Thomas</p></div>
					<p class=element-invisible>Profile links</p>
					<ul>
					    <li><a href=https://profiles.impactstory.org/u/0000-0002-2850-1419>Impactstory Profile</a></li>
						<li><a href=https://fim.nimh.nih.gov/profiles/adam-thomas>FIM Profile</a></li>
						<li><a href=https://scholar.google.com/citations?user=z89s3-8AAAAJ&hl=en>Google Scholar citations</a></li>
						<li><a href=https://github.com/agt24>GitHub profile</a></li>
					</ul></li>
				<li>
					<div class=photo><img alt="" width=155 height=150 src="{% static "img/people/dylan-nielson.jpg"%}"><p class=name>Dylan Nielson</p></div>
					<p class=element-invisible>Profile links</p>
					<ul>
					    <li><a href=https://profiles.impactstory.org/u/0000-0003-4613-6643>Impactstory Profile</a></li>
						<li><a href=https://scholar.google.com/citations?user=J_e8ChMAAAAJ&hl=en>Google Scholar citations</a></li>
						<li><a href=https://github.com/Shotgunosine>GitHub profile</a></li>
						<li><a href=https://www.researchgate.net/profile/Dylan_Nielson>Research Gate</a></li>
					</ul></li>
				<li>
					<div class=photo><img alt="" width=127 height=150 src="{% static "img/people/john-lee.jpg"%}"><p class=name>John Lee</p></div>
					<p class=element-invisible>Profile links</p>
					<ul>
					    <li><a href=https://profiles.impactstory.org/u/0000-0001-5884-4247>Impactstory Profile</a></li>
						<li><a href=https://github.com/leej3>GitHub profile</a></li>
						<li><a href=https://www.researchgate.net/profile/John_Lee4>Research Gate</a></li>
					</ul></li>
				</li>
			</ul>
		</div>
	</article>
{% endblock content %}
