{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Machine Learning Team | CMN{% endblock %}
{% block content %}
	<article class="body team-layout">
		<h2 class=team-title>Machine Learning Team</h2>
		<div class=team-main>
			<h3 class=element-invisible>What we do</h3>
			<p>The mission of the Machine Learning Team (MLT) is to support researchers in the NIMH intramural research program (IRP) who want to address research problems in clinical and cognitive neuroscience using machine learning approaches.</p>

<p>We do this by consulting with individual researchers and guiding them in the use of the appropriate tools and methods, or by taking on the analysis process ourselves, if this is more expedient. In parallel, we develop new methods and analysis approaches, motivated by the needs of researchers or by the practical possibilities arising from advances in the field. We are also in the process of developing training activities on basic machine learning for dissemination to a wider audience within the NIMH IRP, since there is strong interest from trainees and principal investigators (PIs).</p>
		</div>
		<div class=team-sidebar>
			<h3 class=element-invisible>Who we are</h3>
			<ul class=team>
				<li>
					<div class=photo><img alt="" width=123 height=150 src="{% static "img/people/francisco-pereira.jpg"%}"><p class=name>Francisco Pereira</p></div>
					<p class=element-invisible>Profile links</p>
					<ul>
						<li><a href=http://www.franciscopereira.org>Web site</a></li>
						<li><a href="https://scholar.google.com/citations?user=HpbSzssAAAAJ&hl=en">
						Google Scholar citations</a></li>
					</ul></li>
				<li>
					<div class=photo><img alt="" width=136 height=150 src="{% static "img/people/charles-zheng.jpg"%}"><p class=name>Charles Zheng</p></div>
					<ul>
						<li><a href="https://www.researchgate.net/profile/Charles_Zheng3">ResearchGate Profile</a></li>
						<li><a href="https://profiles.impactstory.org/u/0000-0003-3427-0845">Impactstory Profile</a></li>
					</ul>
					</li>
				<li>
					<div class=photo><img alt="" width=150 height=150 src="{% static "img/people/patrick-mcclure.jpg"%}"><p class=name>Patrick McClure</p></div>
					<li><a href="https://dblp.org/pers/hd/m/McClure:Patrick">DBLP Entry</a></li>
					</li>
				</li>
			</ul>
		</div>
	</article>
{% endblock content %}
