{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Workshop | CMN{% endblock %}
{% block content %}
	<article class=body>
		<h2>Workshop on Open&nbsp;and Reproducible Neuroscience</h2>
		<p>NIMH's Data Science and Sharing Team will be conducting a workshop on open and reproducible neuroscience on Aug 1st and 2nd. This hands on workshop will cover:</p>
		<ul>
			<li>Using Python, NiPype, and github to produce &amp; share reproducible processing pipelines (Satra&nbsp;Ghosh)</li>
			<li>Using git-annex and DataLad to share and re-use data (Yarik&nbsp;Halchenko)</li>
			<li>Using containers on the NIH HPC system (Wolfgang&nbsp;Resch)</li>
		</ul>
		<p>Tues, Aug 1 &amp; Wed, Aug 2, 9&nbsp;am &ndash; 5&nbsp;pm<br>
			<a href=" https://goo.gl/maps/eG6QuUKAAeu">NIH&nbsp;Cloisters, Rathskeller (Bldg&nbsp;60, Room&nbsp;036)</a></p>
		<p><a href="https://docs.google.com/spreadsheets/d/1IOLe2NdvbEJHTcn4y-fhUdvfmbSoAG9GG29mt8CuEJQ/edit?usp=sharing"Draft Schedule</a></p>
		<p>Note that space in the course is limited. If you'd like to attend, please <a href="https://goo.gl/forms/uKiCqSekToUw0BRp1">sign up for the workshop here</a>.</p>
		<h3>Course Leads and Guests&nbsp;Speakers</h3>
		<ul class=people>
			<li><a href="http://satra.cogitatum.org/"><img alt="" width=137 height=150 src="{% static "img/people/satra-ghosh.jpg" %}">Satra Ghosh</a>, <span class=affiliation>MIT</span></li>
			<li><a href="http://haxbylab.dartmouth.edu/ppl/yarik.html"><img alt="" width=150 height=150 src="{% static "img/people/yarik-halchenko.jpg"%}">Yarik Halchenko</a>, <span class=affiliation>Dartmouth</span></li>
			<li><img alt="" width=131 height=150 src="{% static "img/people/wolfgang-resch.jpg"%}">Wolfgang Resch, <span class=affiliation><a href="http://hpc.nih.gov">NIH HPC Team</a></span></li>
			<li><img alt="" width=150 height=150 src="{% static "img/people/adam-thomas.jpg"%}">Adam Thomas</li>
			<li><img alt="" width=127 height=150 src="{% static "img/people/john-lee.jpg"%}">John Lee</li>
			<li><img alt="" width=155 height=150 src="{% static "img/people/dylan-nielson.jpg"%}">Dylan Nielson</li>
		</ul>
	</article>
{% endblock content %}
